[submodule ".devcontainer/vscode-dev-containers"]
	path = .devcontainer/vscode-dev-containers
	url = git@github.com:alexanderdavide/vscode-dev-containers.git
[submodule "dependencies/grok-bloch"]
	path = public/grok-bloch
	url = /home/work/Code/grok-bloch
